blendre/output/
blendre/matice.txt
**/__pycache__
datasets/cube_cool/
datasets/cube_colorful/
datasets/cube_one_color/
datasets/cube_big_hole/
datasets/cube_dotted/
siet/training_data/
siet/training_data_bak/
cube_big_hole/
cube_cool/
cube_colorful/
cube_dotted/
cube_one_color/
